langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-openai
sentence-transformers
huggingface-hub
chromadb
fastapi
streamlit
pypdf
python-docx
torch
transformers
llama-cpp-python
pandas
ragas
datasets